{% extends 'core/base.html' %}
{% block title %}Lista de Citas{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Historial de citas programadas</h2>
    {% if citas_admin %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Nombre del Paciente</th>
                    <th>Estado</th><!-- Agregado para las acciones -->
                </tr>
            </thead>
            <tbody>
                <!-- Lista de citas admin -->
                {% for cita in citas_admin %}
                <tr>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.hora }}</td>
                    <td>{{ cita.nombre }}</td>
                    <td>{{ cita.estado }}</td>
                    
                </tr>
                {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p>No hay citas programadas.</p>
    {% endif %}
</div>
{% endblock %}
