{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ profile.user }}{% endblock %}
{% block content %}
<main role="main">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="{% if profile.avatar %}{{ profile.avatar.url }}{% else %}{% static 'registration/img/no-avatar.jpg' %}{% endif %}" class="card-img-top img-fluid" alt="Avatar">
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ profile.user }}</h3>
            {% if profile.bio %}
              <p class="card-text">{{ profile.bio }}</p>
            {% endif %}
            {% if profile.link %}
              <p class="card-text"><a href="{{ profile.link }}" target="_blank">{{ profile.link }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
